<div class="outer-container">

	<div class="inner-container">

		<h1 id="Welcome">ABOUT</h1>
		
		<p>
		
			"Polar" was created to fulfill requirements for CS 361 - Software Engineering I
		
		</p>
		
	</div>
	
</div>