<div Class="outer-container">

	<div Class="inner-container">
	
        <h1 id="Welcome">Current Match</h1>
		<table>
		{{#each user}}
			<tr>
				<th>
					<img id="AvatarImg" src="/img/{{this.Avatar}}.png">
					<a href="/profile/{{this.UserID}}"><div id="ProfileName"><h1 id="myName">Visit {{this.FirstName}}'s Profile</h1></div></a>
				</th>
			</tr>		
		{{/each}}
		
		</table>
	</div>
	
</div>