<div Class="outer-container">

	<div Class="inner-container">
	
        <h1>Matches</h1>
		
		<table>
		
		{{#each user}}
		
			<tr>
			
				<td>
				
					<a href="/profile/{{this.UserID}}"><img id="AvatarImg" src="/img/{{this.Avatar}}Icon.png"></a>
					
					<a href="/profile/{{this.UserID}}"><div id="ProfileName"><h3 class="removedTop">Visit {{this.FirstName}}'s Profile</h3></div></a>
				
				</td>
				
			</tr>	
			
		{{/each}}
		
		</table>
	</div>
	
</div>
