<div Class="outer-container">

	<div Class="inner-container">
	
        <h1 id="Welcome">Current Match</h1>
		<table>
		{{#each user}}
			<tr>
				<td>
					<img id="AvatarImg" src="/img/{{this.Avatar}}Icon.png">
					<a href="/profile/{{this.UserID}}"><div id="ProfileName"><h3>Visit {{this.FirstName}}'s Profile</h3></div></a>
				</td>
			</tr>		
		{{/each}}
		
		</table>
	</div>
	
</div>
