<div class="outer-container">

	<div class="inner-container">	
	
		<h1 id="Welcome">CONFIRMATION</h1>

		<h1 id="Congrats">CONGRATULATIONS!! {{this.fName}} is now registered!</h1>

		<h3 class="footer">_</h3>

		<a href="/">LOGIN?</a>
		
	</div>
	
</div>