<div class="outer-container">

	<div class="inner-container">	
	
		<h1 id="Welcome">Confirmation</h1>

		<h2>Congratulations!! {{this.fName}} is now registered!</h2>

		<h3 class="footer">_</h3>

		<p><form action="/"><input type="submit" value="Login" /></form></p>
		
	</div>
	
</div>