<div class="outer-container">

	<div class="inner-container">
		
		<h1 id="Welcome">CONTACT</h1>
		
		<a href="mailto:ralstinj@oregonstate.edu">ralstinj@oregonstate.edu</a><br>
		<a href="mailto:deleonp@oregonstate.edu">deleonp@oregonstate.edu</a><br>
		<a href="mailto:northeym@oregonstate.edu">northeym@oregonstate.edu</a><br>
		<a href="mailto:usif@oregonstate.edu">usif@oregonstate.edu</a><br>
	
	</div>
	
</div>