<!--This is a simple main page to explain the purpose of the site
This site uses handlebars templating. Nothing more than basic html
and content-->

<div class="outer-container">

	<div class="inner-container">

		<img src="img/PolarBear.jpg">
		
		<h1 id="Welcome">POLAR</h1>
		
		<form method="post">
		
			<input required class="LoginCred" type="text" name="UserName" placeholder="Username"><br><br>
			<input required class="LoginCred" type="password" name="Password" placeholder="Password"><br><br>
			<input class="LoginSubmit" type="submit" name="myLogin" value="Log In">
		
		</form>
		
		<div id="FooterDiv"><p id="registerlink"><a href="/register">Register Account</a></p></div>
		
	</div>
	
</div>
