
<div class="outer-container">

	<div class="inner-container">

		<h1 id="Welcome">Login Error</h1>

		<h2>Something went wrong! The provided credentials were not found.</h2>
		
		<h3 class="footer">_</h3>

		<p><form action="/register"><input id="Register" type="submit" value="Register" /></form></p>

	</div>
	
</div>