
<div class="outer-container">

	<div class="inner-container">

		<h1 id="Welcome">LOGIN ERROR</h1>

		<h2>SOMETHING WENT WRONG!!</h2>
		
		<h2>The provided credentials were not found!</h2>
		
		<h3 class="footer">_</h3>

		<a href="/register">REGISTER?</a>

	</div>
	
</div>