/*Minimalistic styling sheet to create basic site theme*/

#masthead{
	
	/*position:fixed;*/
	
}

ul#main-nav {
	text-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b4c7e7;
}

ul#main-nav>li {
	display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #3EACA8;
}

#main-title{
	
	text-align: center;
	text-decoration: underline;
	color: #5A5050;
	
}

#reg-title{color: #5A5050}

div.text-section{
	
	padding-top:10px;
	padding-left:10%;
	padding-Right:10%;
	
}

table{

	width: 100%;
	/*border: 1px solid;
	border-radius: 10px;*/

}

th{

	background-color: #b4c7e7;
	color: white;
	border-radius: 10px;
	
}

tr{
	
	text-align:center;
	
}

#main-container{

	width:970px;

}

#Congrats{
	
	text-align: center;
	color: #5A5050;
	size: 26px;
	
}

#Messages{
	
	text-align: left;
	
}

#NoQuestion{
	
	text-align: center;
	font-style: italic;
	font-size: 14pt;
	padding-top: 200px;
	
}

a{
	
	color:#262626;
	text-decoration: none;
}

i{
	color: #262626;
}

.Numero{

	width:120px;

}

input.MyButton{
	
	border-color:#3EACA8;
	background-color: #3EACA8;
	color: white;
	
}

div.outer-container{
	
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:15px;
	padding-bottom:15px;
	text-align:middle;
	font-family: "Palatino";
	
}

div.inner-container{
	
	position:relative;
	padding:15px;
	margin:0 auto;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	border-color:#b4c7e7;
	text-align:center;
	width:375px;
	height:680px;
	
}

#QuestionBox{
	
	background-color: #b4c7e7;
	
}


h3{
	
	color:#262626;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	
}

h3.removedTop{
	
	margin-top: 10px;
	
}

h3.question{
	
	text-align:center;
	text-decoration: none;
	font-weight: normal;
	font-family: "Palatino";
	padding: 10px;
	font-size: 14pt;
	font-weight: 600;
	
}

h3.unbuffed{

	padding: 0px;
	margin: 0;
	
}

h3.footer{
	
	color: #b4c7e7;
	
}

h4{
	
	margin: 0;
	padding-bottom:5pt;
	text-align:center;
	font-size: 16pt;
	color:#262626;
	
}

h3#ReducedBottom{
	
	margin-bottom: 0;
	
}

img.img-container{

   max-width:90%;
   max-height:90%;

}

p{
	
	text-align:left;
	
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

input.LoginCred{
	
	background-color: #ededed;
	padding-left: 5px;
	
}

input.LoginSubmit{
	
	background-color: #b4c7e7;
	border: 1;
	border-color: black;
	width: 175px;
	height: 25px;
	
}

h2{
	font-family: Garamond;
	text-align:center;
	font-size: 22pt;
	color: #262626;
	margin-top: 5px;
	
}

h2#myName{

	text-align:center;
	font-size: 42pt;
	color:#002080;
	margin-bottom: 10px;
	
}

#msg{
	
	font-weight: bold;
	text-align:left;
	font-size: 18pt;
	color: #262626;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

input[type=submit] {
    
	width: 50%;
	height: 30px;
	padding:5px 12px; 
    background:#b4c7e7; 
    border: 1px solid #262626;
    cursor:pointer;
	font-weight: bold;
	margin-top: 10px;
	
}

div.ParentDiv{
	
	text-align:center;
	color:black;

}

div.ChildDiv{
	
	vertical-align:middle;
	display:inline-block;
	padding-right: 2pt;
	height:100%;
	
}

div.myHeader{
	
	display:flex;
	justify-content:space-between;
	
}

img#AvatarImg{
	
	vertical-align:middle;
	
}

div#ProfileName{
	
	vertical-align:bottom;
	width:100%;
	
}

h1{

	color: #002080;
	font-size: 30pt;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: Garamond;
	
}

div.AnsText{

	display:inline-block;
	width: 96%;
	height: 70px;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	border-color:#b4c7e7;
	text-align:center;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	color:#262626;
	
}

div#FooterDiv{
	
	position:absolute;
	bottom:0;
}

p#registerlink{

	text-align:center;
	font-size: 12pt;
	color:#5A5050;
	
}

input#iFName{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 25%;
	
}

input#iLName{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 25%;
	
}

input#iGender{
	
	width: 25%;
	background-color: #ededed;
	
}

input#iAge{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 20pt;
	
}

input#iUName{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 25%;
	
}
input#iPassword{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 25%;
	
}

input#iEmail{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 25%;
	
}

input#iZipCode{
	
	padding-left: 5px;
	background-color: #ededed;
	width: 25%;
	
}

div.spacer{
	
	display:inline-block;
	width:10px;
	
}

input.qLong{
	
	display:inline-block;
	width: 98%;
	height: 100pt;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	border-color:#b4c7e7;
	text-align:center;
	
}

